@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $(document).ready(function () {
            if ("@Session["UserType"].ToString()" == "Agent") {
                $("#txtBoxUser").val("Wait.Customer will be assigned...");
            }
            else {
                $("#txtBoxUser").val("Wait.Agent will be assigned...");
            }
            $("#divmsg").val("Connecting...");

            $("#btnsend").click(function () {
                send();
            });

            $("#btnstop").click(function () {
                stop();
            });

            getUsersList();
            function getUsersList()
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("userslist")",
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    dataType: "json",
                    success: function (r) {
                        $("#divmsg").html("Connected");
                        var txtboxUser = $("#txtBoxUser");
                        var ddlUser = $("#ddlUser");
                        // ddlfrined.empty().append('<option selected="selected" value="0">select</option>');
                        for (var i = 0; i <r.length; i++) {
                            //txtboxUser.append($("<option></option>").val(r[i].Value).html(r[i].Text));
                            //$("#txtboxUser").val(r[i].Text);
                            txtboxUser.val(r[i].Text);
                        }
                    },
                    error: function (r) {
                        alert("error");
                    }
                });
            }
            setInterval(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    url: "@Url.Action("receive")",
                    dataType: "json",
                    success: function (response) {
                        var data = $("#divmsg").html();
                        $("#divmsg").html(data + "<br><b>" + $("#txtBoxUser").val() + ": </b>" + response);

                    },
                    error: function (response) {

                    }
                });
            }, 3000);
            function send() {
                var message = $("#txtmsg").val();
                var user = $("#txtBoxUser").val();
                var data = $("#divmsg").html();
                $("#divmsg").html(data + "<br>" + "<b> Me : </b>" + message);
                $("#txtmsg").val("");
                //debugger;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"message":"' + message + '","user":"' + user +'"}',
                    url: "@Url.Action("sendmsg")",
                    dataType: "json",
                    success: function (response) {
                        var data = $("#divmsg").html();
                        $("#divmsg").html(data + "<br>" + user + ": " + message);
                    },
                    error: function (response) {

                    }
                });
            }

        function stop() {                
                $.ajax({
                        type: "GET",
                        url: "@Url.Action("logout")",
                    success: function () {
                            location.reload();
                        },
                        error: function (r) {
                            alert("error");
                        }
                    });
            }
        });
</script>
</head>
<body>
    <nav class="nav navbar-default">
        <div class="navbar-brand">
            <span style="float:right;">@Session["UserType"].ToString() : @Session["username"].ToString()</span>
        </div>
    </nav>
    <br />
    <div class="clearfix"></div>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @if (@Session["UserType"].ToString() == "Agent")
                        {
                            <label> Customer Assigned : </label>
                        }
                        @if (@Session["UserType"].ToString() == "Customer")
                        {
                            <label> Agent Assigned : </label>
                        }

                        <input id="txtBoxUser" name="txtBoxUser" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> Enter your message here : </label>
                        <input type="text" name="txtmsg" id="txtmsg" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="send" class="btn btn-success" name="btnsend" id="btnsend" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="stop" class="btn btn-success" name="btnstop" id="btnstop" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Messages
                            </div>
                            <div class="panel-footer" style="min-height:400px;">
                                <div id="divmsg">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</body>
</html>
